.App { 
  text-align: center; 
  border: solid;
  border-color: blue;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.header {
  background-color: #282c;
  border: dashed;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  width: 90%; 
  /* margin: auto; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.main {
  border: dotted;
  width: 90%;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;   */
  /* max-width: 30%; */

}

.nav {
  border: solid;
  border-color: yellowgreen;
  width: 90%;
}

/* .App-link {
  color: #61dafb;
} */



/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
